ParallelImageEditor/ParallelImageEditor.sln
ParallelImageEditor/.vs/ParallelImageEditor/FileContentIndex/36e19b0a-db75-4a57-ae2a-f1c520dc23b1.vsidx
ParallelImageEditor/.vs/ParallelImageEditor/FileContentIndex/967d673b-02a9-46a2-aad2-b9f214a162a7.vsidx
ParallelImageEditor/.vs/ParallelImageEditor/FileContentIndex/cfa4fa7a-a73f-42a5-bf92-6198876ae512.vsidx
ParallelImageEditor/.vs/ParallelImageEditor/FileContentIndex/ffc01815-3fec-43e4-bea7-8c05dd676cff.vsidx
ParallelImageEditor/.vs/ParallelImageEditor/v17/.suo
ParallelImageEditor/packages/ImageProcessor.2.9.0/.signature.p7s
ParallelImageEditor/packages/ImageProcessor.2.9.0/ImageProcessor.2.9.0.nupkg
ParallelImageEditor/packages/ImageProcessor.2.9.0/lib/net452/ImageProcessor.dll
ParallelImageEditor/packages/ImageProcessor.2.9.0/lib/net452/ImageProcessor.xml
ParallelImageEditor/packages/System.ValueTuple.4.5.0/.signature.p7s
ParallelImageEditor/packages/System.ValueTuple.4.5.0/LICENSE.TXT
ParallelImageEditor/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
ParallelImageEditor/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
ParallelImageEditor/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
ParallelImageEditor/packages/System.ValueTuple.4.5.0/version.txt
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
ParallelImageEditor/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
ParallelImageEditor/ParallelImageEditor/App.config
ParallelImageEditor/ParallelImageEditor/packages.config
ParallelImageEditor/ParallelImageEditor/ParallelImageEditor.csproj
ParallelImageEditor/ParallelImageEditor/bin/Debug/ImageProcessor.dll
ParallelImageEditor/ParallelImageEditor/bin/Debug/ImageProcessor.xml
ParallelImageEditor/ParallelImageEditor/bin/Debug/ParallelImageEditor.exe
ParallelImageEditor/ParallelImageEditor/bin/Debug/ParallelImageEditor.exe.config
ParallelImageEditor/ParallelImageEditor/bin/Debug/ParallelImageEditor.pdb
ParallelImageEditor/ParallelImageEditor/bin/Debug/System.ValueTuple.dll
ParallelImageEditor/ParallelImageEditor/bin/Debug/System.ValueTuple.xml
ParallelImageEditor/ParallelImageEditor/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ParallelImageEditor/ParallelImageEditor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParallelImageEditor/ParallelImageEditor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.AssemblyReference.cache
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.CopyComplete
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.CoreCompileInputs.cache
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.FileListAbsolute.txt
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.GenerateResource.cache
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.exe
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.ParallelImageEditor.resources
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.pdb
ParallelImageEditor/ParallelImageEditor/obj/Debug/ParallelImageEditor.Properties.Resources.resources
ParallelImageEditor/ParallelImageEditor/Properties/AssemblyInfo.cs
ParallelImageEditor/ParallelImageEditor/Properties/Resources.Designer.cs
ParallelImageEditor/ParallelImageEditor/Properties/Resources.resx
ParallelImageEditor/ParallelImageEditor/Properties/Settings.Designer.cs
ParallelImageEditor/ParallelImageEditor/Properties/Settings.settings
ParallelImageEditor.sln
.vs/ParallelImageEditor/FileContentIndex/15d720a8-e0e3-4d69-a1e3-110e5cbb455a.vsidx
.vs/ParallelImageEditor/FileContentIndex/d64a7887-da62-4a39-be67-89fe11c75aa1.vsidx
.vs/ParallelImageEditor/v17/.suo
.vs/ParallelImageEditor/v17/DocumentLayout.json
packages/ImageProcessor.2.9.0/.signature.p7s
packages/ImageProcessor.2.9.0/ImageProcessor.2.9.0.nupkg
packages/ImageProcessor.2.9.0/lib/net452/ImageProcessor.dll
packages/ImageProcessor.2.9.0/lib/net452/ImageProcessor.xml
packages/System.ValueTuple.4.5.0/.signature.p7s
packages/System.ValueTuple.4.5.0/LICENSE.TXT
packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
packages/System.ValueTuple.4.5.0/version.txt
packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
ParallelImageEditor/App.config
ParallelImageEditor/packages.config
ParallelImageEditor/ParallelImageEditor.csproj
ParallelImageEditor/bin/Debug/ImageProcessor.dll
ParallelImageEditor/bin/Debug/ImageProcessor.xml
ParallelImageEditor/bin/Debug/ParallelImageEditor.exe
ParallelImageEditor/bin/Debug/ParallelImageEditor.exe.config
ParallelImageEditor/bin/Debug/ParallelImageEditor.pdb
ParallelImageEditor/bin/Debug/System.ValueTuple.dll
ParallelImageEditor/bin/Debug/System.ValueTuple.xml
ParallelImageEditor/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ParallelImageEditor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParallelImageEditor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.AssemblyReference.cache
ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.CopyComplete
ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.CoreCompileInputs.cache
ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.FileListAbsolute.txt
ParallelImageEditor/obj/Debug/ParallelImageEditor.csproj.GenerateResource.cache
ParallelImageEditor/obj/Debug/ParallelImageEditor.exe
ParallelImageEditor/obj/Debug/ParallelImageEditor.ParallelImageEditor.resources
ParallelImageEditor/obj/Debug/ParallelImageEditor.pdb
ParallelImageEditor/obj/Debug/ParallelImageEditor.Properties.Resources.resources
ParallelImageEditor/Properties/AssemblyInfo.cs
ParallelImageEditor/Properties/Resources.Designer.cs
ParallelImageEditor/Properties/Resources.resx
ParallelImageEditor/Properties/Settings.Designer.cs
ParallelImageEditor/Properties/Settings.settings
